#backgroundStrip {
    background-color: #5d93ba;
    height: 1000px;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
#bodyColor {
   background-color: #53747f; 
   position: relative;
   top: 100px;
   width: 800px;
   height: 700px;
   margin: 0 auto;
}

#nav {
    text-align: center;
    position: absolute;
    background-color: #9ebfd8;
    height: 90%;
    width: 200px;
    top: 30px;
    left: -40px;
    font-family: 'Lucida Sans';
    align-items: left;
    font-size: 15px;
    
}

#dreamTeam {
    margin-top: 30px;
    background-color: #c8e0f1;
}


#villagersContainer
{
    background-color: aliceblue;
    width: 620px;
    height: 90%;
    position: absolute;
    top: 30px;
    left: 170px;
    display: block;
    overflow: auto;
    font-family: 'Lucida Sans';
    font-size: small;
}

#villagersContainerSearch
{
    background-color: aliceblue;
    width: 620px;
    height: 90%;
    position: absolute;
    top: 30px;
    left: 170px;
    display: none;
    overflow: auto;
}

#villagersContainerLikes

{
    background-color: aliceblue;
    width: 620px;
    height: 90%;
    position: absolute;
    top: 30px;
    left: 170px;
    display: none;
    overflow: auto;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 12rem;
    height: 15rem;
    display: inline-grid;
    margin: 2rem 2rem;
    box-shadow: 3px 4px rgba(252, 216, 12, 0.938);
}

.villager-picture {
    justify-self: center;
    height: 9rem;
    width: auto;
}

.activated-heart {
    color: red;
}

#home {
    background-color: #c8e0f1;
    margin-top: 20%;
}

#form {
    margin-top: 10%;
}